<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="backdrop"></div>
      <div class="header">
        <div type="button" class="header__top">
          <a class="header__avatar button-2">
            <img src="{{botProfielPictureAW}}" alt="" />
          </a>

          <a class="header__name">
            <div class="header__name--title">
              <h5><span>{{botNameAW}}</span></h5>
              <i class="fas fa-external-link-alt" style="color: #3f3fff"></i>
            </div>
            <div class="header__name--description">
              <i class="fa fa-circle" style="color: green; font-size: 10px"></i>
              <p><span>online</span></p>
            </div>
          </a>
        </div>
        <div class="header__bottom">
          <span
            class="header__bottom--icon"
            style="color: rebeccapurple; font-size: 40px"
            ><i class="fas fa-hamburger"></i
          ></span>
          <!-- <button class="btn">☰</button> -->
          <!-- <button class="btn-1">PROFILE</button> -->
        </div>
        <div class="sidebar__left">
          <span class="sidebar__left--icon"
            ><i class="far fa-comment-dots fix__icon--darkMode"></i
          ></span>
          <span class="sidebar__left--icon"
            ><i class="fas fa-phone-alt fix__icon--darkMode"></i
          ></span>
          <!-- <span class="sidebar__left--icon"><i class="far fa-moon"></i></span> -->
          <div>
            <button onclick="myFunction('dark-mode')" class="btn-1">
              <i class="far fa-moon"></i>
            </button>
          </div>
        </div>
        <!--sidebar__right--active-->
        <section class="sidebar__right">
          <div class="sidebar__right--top1">
            <span><h3>PROFILE</h3></span>
            <span><i class="fas fa-times cross"></i></span>
          </div>
          <div class="sidebar__right--top2">
            <div class="sidebar__right--top2-1">
              <figure class="avatar">
                <a href="#"><img src="{{botProfielPictureAW}}" alt="" /></a>
              </figure>
              <span><h5>{{botNameAW}}</h5></span>
              <span><p>Last seen : Online Now</p></span>
            </div>

            <div class="sidebar__right--top2-1">
              <span style="margin-bottom: 4px"><h2>About</h2></span>
              <span><h5>City: {{botCityAW}}</h5> </span>
              <span><h5>Age: {{botAgeAW}}</h5></span>
              <div class="social__icons">
                <a href="{{botFbLinkAW}}"><i class="fab fa-facebook-f"></i></a>
                <a href="{{botInstaLinkAW}}"><i class="fab fa-instagram"></i></a>
                <a href="{{botSnapLinkAW}}"><i class="fab fa-snapchat-ghost"></i></a>
              </div>
            </div>
          </div>
          <div class="container">
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=1"
              />
            </span>
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=40"
              />
            </span>
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=12"
              />
            </span>
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=71"
              />
            </span>
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=32"
              />
            </span>
            <span>
              <img
                class="ImgThumbnail"
                src="https://source.unsplash.com/600x600/?sig=32"
              />
            </span>
          </div>
          <div class="modal">
            <span class="close">×</span>
            <img class="modalImage" id="img01" />
          </div>
        </section>
      </div>
      <!--message area-->
      <main class="msger-chat">
      </main>
      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          id="textInput"
          placeholder=" Write a message."
        />
        <span><i class="fas fa-paperclip"></i></span>
        <button type="submit" class="msger-send-btn">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
  </body>
</html>
